body{
    background-color:aliceblue;
}


.container{
   
   background-color:aqua;

}

.afiliado{
    display: flex;
 /* background-color:blue; */
 
}

.texto1{
    margin-top: 30px;
    /* background-color:yellowgreen; */
width: 50%;
}

.video{
    /* background-color:red; */

}