body{
    
    background-color:black;
    
}

.titulo{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:1200px;
    margin:0 auto;
    background:#ccc;
}

.afiliado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:1200px;
    margin:0 auto;
    background:blue;
 
}

.imagem{
    margin-top: 30px;
    background-color:yellowgreen; 
width: 50%;
}

.imagem-financeiro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:1200px;
    margin:0 auto;
    background:maroon;
}

.video{
    background-color:red; 

}

.pai{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:1200px;
    margin:0 auto;
    background:#ccc;
}
.pai > .filho{
    width:50%;
    height:1200px;
    background:purple;
    color:#fff;
}
.pai > .filho:nth-child(1){
    background:yellow;
    color:#000;
    flex-grow:1;
}
.pai > .filho:nth-child(2){
    background:pink;
    color:#000;
}
.pai > .filho:nth-child(3){
    flex-grow:1;
}